body {
  background-image: url(./img/bg.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
}

.wether {
  max-width: 760px;
  height: auto;
  padding: 40px 0;
  background: linear-gradient(0deg, #000000, #000000), #000000;
  border-radius: 10px;
  opacity: 0.7;
}

.search-box {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  margin-bottom: 40px;
}

input[type="text"] {
  margin: 0 auto;
  color: #ffffff;
  padding: 17px;
  border: none;
  border-radius: 55px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), #585858;
  width: 70%;
}

button[type="submit"] {
  position: absolute;
  margin-left: 470px;
  border-radius: 100%;
  padding: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.weather-details {
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;  
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
}

.ul-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
  margin-left: 100px;
}

.box-link {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  display: block;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.box-img {
  margin: 17px;
}

.box-link:hover {
  opacity: 0.7;
}